body {
  /* background: url(coffee-apple.jpg) no-repeat center center fixed; */
  background: #0d1117 no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 300px;
  }
}
